* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body{
   position: relative;
   background-color: rgba(209, 233, 239, 0.7);
}


.dat_list{

    margin-top: 2%;
}


/* container que envolve tudo */
.main_section{

    width: 80%;
    height: auto;
    position: absolute;
    left: 10%;
    margin-top: 2%;
    text-align:center;
}

h1{
    font-size: 4em;
    color: rgb(47, 76, 101);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.197);
}


/* aqui começa a lista de serviços */
.serviceList{
    width: 100%;
   
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.102);
   


}

/* aqui começa os estilos das tabelas  */

.tableHeader,.descTable{

    display: flex;
    justify-content: space-between;
    padding: 3px;
    
    

}
.tableHeader{
    font-size: 1.5em;
    font-weight: 600;
    background-color: rgb(88, 104, 104);
    color: white;

}

.descTable{
    font-size: 1.2em;
 
}

.divItensTable
{
    width: 25%;
}

/* detalhes estão aqui  */
.mainDetails{
    width: 100%;
   
    text-align: left;
}
details{
    width: 100%;
    color: rgb(233, 26, 95);
    
   margin: 0.5%;
}





details>p{
 color:black;
 margin-left: 15px;
 font-weight: 400;
 margin: 5px;
 text-align: initial;
}


/* contaier das imagens  */
.containerImages{
    width: 98%;
    display: flex;
    flex-direction: column;
   
  
}


footer{
    position: absolute;
    bottom: 0px;
}